{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artificial Intelligence & Deep Learning</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Artificial Intelligence & Deep Learning</h1>
        <nav>
            <ul>
                <li><a href="{% url 'homePage' %}">Home</a></li>
                <li><a href="{% url 'history' %}">History</a></li>
                <li><a href="{% url 'present' %}">Present</a></li>
                <li><a href="{% url 'future' %}">Future</a></li>
                <li><a href="{% url 'neuralNetworks' %}">Neural Networks</a></li>
                <li><a href="{% url 'aboutus' %}">About Us</a></li>
            </ul>
        </nav>
    </header>

