{% load static %}
{% include "header.html" %}

<section id="about">
    <h2>About Us</h2>
    <p>
        Welcome to our page on Artificial Intelligence & Deep Learning! Our mission is to explore, innovate, and share knowledge in the realm of AI and machine learning.
        From understanding neural networks to diving into deep learning, we aim to make these complex topics accessible and engaging.<br>
        <b><u>Developer Vikas Prajapati</u></b>
    </p>
    <img src="{% static 'images/about.jpg' %}" alt="About Us"><br>
    <br>
    <a href="{% url 'homePage' %}">Back</a>
</section>

{% include "footer.html" %}

