{% extends 'base.html' %}
{% block content %}
<section id="about">
    <div style="background-color: whitesmoke; border: 7px solid silver; box-sizing: border-box; margin: 10px; padding: 20px;">
        <h2>About Us</h2>
        <p>
            Welcome to our page on Artificial Intelligence & Deep Learning! Our mission is to explore, innovate, and share knowledge in the realm of AI and machine learning.
            From understanding neural networks to diving into deep learning, we aim to make these complex topics accessible and engaging.<br>
            <b><u>Developer Vikas Prajapati</u></b>
        </p>
        <br>
        <a href="{% url 'home' %}" style="display: inline-block; padding: 10px 20px; font-size: 16px; color: white; background-color: blue; border: none; border-radius: 5px; text-decoration: none; text-align: center; font-weight: bold;">
            Back
        </a>
    </div>
</section>

{% endblock %}

