{% extends 'base.html' %}
{% block content %}
<section id="contact">
    <div style="background-color: whitesmoke; border: 7px solid silver; box-sizing: border-box; margin: 10px; padding: 20px;">
        <h2>Contact Us</h2>
        <p>
            Email: <a href="mailto:vikas@houstonsystem.com">vikas@houstonsystem.com</a> <br>
            Mobile: <a href="tel:9161589883">9161589883</a> <br>
            <b><u>Developer Vikas Prajapati</u></b>
        </p>
        <br>
        <a href="{% url 'home' %}" style="display: inline-block; padding: 10px 20px; font-size: 16px; color: white; background-color: blue; border: none; border-radius: 5px; text-decoration: none; text-align: center; font-weight: bold;">
            Back
        </a>
    </div>
    </section>
</section>
{% endblock %}
