{% extends 'base.html' %}
{% block content %}
<section id="service">
    <div style="background-color: whitesmoke; border: 7px solid silver; box-sizing: border-box; margin: 10px; padding: 20px;">
        <h2>Our Services</h2>
        <p>
            Our organization design solution security systems. Which is highly advance and secure. Our systems are strong, reliable, and scalable.<br>
            We provide free maintainace and service of our product and update it time to time. In each update we implement many new features which make it better.<br>
            <b><u>Developer Vikas Prajapati</u></b>
        </p>
        <br><a href="{% url 'home' %}" style="display: inline-block; padding: 10px 20px; font-size: 16px; color: white; background-color: blue; border: none; border-radius: 5px; text-decoration: none; text-align: center; font-weight: bold;">
            Back
        </a>
        
    </div>
</section>

{% endblock %}

